body{
    background-color: black;
}

.header-container{
    background: rgb(138, 105, 105);
    display: flex;
    padding: 2px;
    justify-content: center;
}
#logo{
    color: white;
    font-family: Calibri;
    font-size: 24pt;
    margin: auto;
}

.navbar-collapse{
    margin-right: 5%;
}

.watchedBox, .interestedBox{
    width: 50%;
    margin: auto;
    font-family: Calibri;
}

/*.movieCard{
    margin: auto;
}*/

.card{
    background: none;
    color: white;
}

.card img{
    width: 200px;
    height: 300px;
    margin: auto;
}

.btn{
    width: 100px;
    border: 2px solid grey;
    border-radius: 25px;
    opacity: 60%;
    font-family: calibri;
    font-weight: bold;
    background-color: transparent;
}

.btn:hover{
    opacity: 100%;
}

.image{
    display: block;
    margin: auto;
}

.image img{
    width: 200px;
    height: 300px;
}

.modal-content{
    color: white;
}

#navbarSupportedContent{
    margin-left: 175%;
}

#navbarDropdown{
    font-weight: bold;
}